<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreTools" version="9.0.0.5" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.Workflow" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.CoreAssembly" version="9.0.0.5" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.XrmTooling.WpfControls" version="8.2.0.5" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="2.22.302111727" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.1" targetFramework="net452" requireReinstallation="true" />
</packages>