<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Crm.Sdk.Proxy" version="5.0.14" targetFramework="net45" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.Xrm.Sdk" version="5.0.14" targetFramework="net45" />
</packages>