#dev1QSC {
   
}
.navTabButton.selected #navTabGlobalCreateImage, .navTabButton:hover #dev1GlobalSearchImage
{
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAJeSURBVEhL5ZQ9aFNRFMf/97U2VkSLwaESkviFUHHWaocuEiVN6agiuOjg5uLo4KhDVRAHB0EcVBRaY238WBx1EEFE2lpLEm3BL0y0moTEd/y/ey9NbN+LFbKIP8g7H++888+93HPxz6OsXR4bUlF0qCREbYRSPyDua1TlAebufrIVS1ieQDS5CU77eZanbKYBqfBxCaXSKbx/+N3k6vxZID7UD8FtVoZNQr7yMcFVrGJuM/1Ok5ZXXNUeZEcLOrY41vrjbQkwopuLfOHvGLLFMLJ3diI3ugPF+W6KX2Re2LyHtZf1dw20WetPuOcCn7vY4DNq1V68HXsEZF3zkpRnKihOZNC17RsFEsxsp38fhclZU9BsBZHEOq77gAnkDGbHp4zvQy49zJonJlDHjTUEC6wI9bE4pP1y+aq2zRC5ZSz4XZ1gAVdFrPeRp+OD9ZvgFLVRsl5bS7CAwhvjyBps2W9W0hR3rTaivFO2QLBAqfScy/2pt6kWOmizwSi111i80NYSLOBti5JxE8hpzkOX8X2IpgbYeZ/2XdzQ1hIs4CGYNo7iPEgGkYGtJm4gNpiE03ZN+96w5QvXtW8JnuTY4Eko56yNLN61oB6z0TOurp373cet2W1ecRCr0ou59KSOLf4Cfs0F86xebaNFyFO4tUPI35uxiQWWCixu7l0DkKOchZtY2XmE/7if2Th/vE1lCuKkkR8Z07U+/C4Q1DyXvmIzf01dID50gs9zJiAtaO5hBLxBqnVwEu3V0KLmHuaYTmcqPBHvtN/C5h71LYoluoHQYWq+5F2fsdn/HuAXtDHUNVq+tycAAAAASUVORK5CYII=);
background-repeat: no-repeat;
width: 24px;
height: 24px;
vertical-align: middle;
}


#dev1GlobalSearchImage
{
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHLSURBVEhL7ZQ9SwNBEIaTIKSQRBEUBBEU9C+IYmFjIQZ7CxuxshLBP2FhY2dlbWlnlXR+gAiKhaiFXdAQ0XxwkuTiM5c3IWLuEjUWgg8MMzs7897u3d6G/jxh+Y6oVqujrusuRiKRMXyR8W2xWDyKx+MZlXwPx3HGETxEsBVOpVLZSafTvSr/GqVSaQ7xjMSqxC/YKXbF0Hbhwfga16+2zqBhFHuWQLZcLq8lk8keTYey2WwfU7vMuVYDB5rqDLa+b130Z3hNk0p/grpNT77GlNLBUDiAOdaBwJbSvrCIY9XuKxUMtUvWYORyuSGlfWnaxZ1SHhH5VozIP8VisUfFvnB0XxQOynsEPeBePs6qoop94RX1KXyV9/B9QD6fv0C4Qhhl+8u1rD/hcHhe4aV8e1hV/ed6wHzPOHMJrwo4yitKt4eV76jPjqqdkglNNUBwkXz9X7lu/k8M37uIejua27VRgzcshdA5vofXMovN2IQ9hHgau7FxICZuK2oG0ZzCVpzYfaX2YCj+II6wy2tYtcuM4Tp2gJ2RTuH3sIRa20NxS3FN/ww+6IZ0Pboqjl4U8+4do6viddC8+zVxo1AoDKO/hfiCUv9AKPQOnKUEWj4WZQUAAAAASUVORK5CYII=);
background-repeat: no-repeat;
width: 24px;
height: 24px;
vertical-align: middle;

}