/* Start Slick Grid */
/*
IMPORTANT:
In order to preserve the uniform grid appearance, all cell styles need to have padding, margin and border sizes.
No built-in (selected, editable, highlight, flashing, invalid, loading, :focus) or user-specified CSS
classes should alter those!
*/

.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
    width: 100%;
    overflow: hidden;

    /*dev1 border-left: 0px;*/

    border-left-width:1px;
    border-left-color:#a5acb5;
    border-left-style:solid;
    border-right-width:1px;
    border-right-color:#a5acb5;
    border-right-style:solid;

}

.slick-header-columns, .slick-headerrow-columns {
    position: relative;
    white-space: nowrap;
    cursor: default;
    overflow: hidden;
    /*dev1*/
    background: url("images/outlook14/GridColumnGradient.png");
    border-top-color: #a5acb5;
    border-bottom-color: #a5acb5;
    
   
    

}

.slick-header-column.ui-state-default {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  /*dev1 height: 16px; */
  line-height: 16px;
  margin: 0;
  /*dev1 padding: 4px; */
  /*dev1 border-right: 1px solid silver; */
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  float: left;

 /*dev1*/
  height: 17px;
  padding-top:3px;
  background:none !important;
  border:1px solid transparent;
}

.slick-headerrow-column.ui-state-default {
  padding: 4px;
}

.slick-header-column-sorted {
  
}

.slick-sort-indicator {
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 4px;
}

.slick-sort-indicator-desc {
  background: url(images/sort_desc.gif);
}

.slick-sort-indicator-asc {
  background: url(images/sort_asc.gif);
}

.slick-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  cursor: col-resize;
  width: 2px;
  right: 0px;
  top: 0;
  height: 100%;
  /*dev1*/

  background-image: url("images/grid_resizer.png");
  background-repeat:no-repeat;
  background-color:transparent;
  background-position:0px,3px;
}

.slick-sortable-placeholder {
  background: silver;
}

.grid-canvas {
  position: relative;
  outline: 0;
}

.slick-row.ui-widget-content, .slick-row.ui-state-active {
  position: absolute;
  border: 0px;
  width: 100%;
}

.slick-cell, .slick-headerrow-column {
  position: absolute;

  /*border: 1px solid transparent;*/
  /*dev1 border-right: 1px dotted silver;*/
  border-bottom:1px solid silver;

  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  vertical-align: middle;
  z-index: 1;
  padding: 1px 2px 2px 1px;
  margin: 0;

  white-space: nowrap;

  cursor: default;
}

/*dev1*/
slick-cell {
    position: absolute;
    border: 0px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #DBDEE1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    z-index: 1;
    /*padding: 1px 2px 2px 1px;*/
    padding: 0px;
    margin: 0;
    padding-top: 3px;
    padding-left: 3px;
    white-space: nowrap;
    cursor: default;
}
/*dev1*/
.selected
{
    background:#A7CDF0;
}

.slick-group {
}

.slick-group-toggle {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-right: 5px;
}
.slick-group-toggle.expanded {
  background: url(images/collapse.gif) no-repeat center center;
}

.slick-group-toggle.collapsed {
  background: url(images/expand.gif) no-repeat center center;
}
.slick-cell.highlighted {
  background: lightskyblue;
  background: rgba(0, 0, 255, 0.2);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/*dev1*/
.slick-cell.active {
border-color: gray;
border-style: solid;
}

.slick-cell.flashing {
  border: 1px solid red !important;
}

.slick-cell.editable {
  z-index: 11;
  overflow: visible;
  background: white;
  border-color: black;
  border-style: solid;
}

.slick-cell:focus {
  outline: none;
}

.slick-reorder-proxy {
  display: inline-block;
  background: blue;
  opacity: 0.15;
  filter: alpha(opacity = 15);
  cursor: move;
}

.slick-reorder-guide {
  display: inline-block;
  height: 2px;
  background: blue;
  opacity: 0.7;
  filter: alpha(opacity = 70);
}

.slick-selection {
  z-index: 10;
  position: absolute;
  border: 2px dashed black;
}
/* dev1 */
.slick-column-name {
	padding-left:8px;
	text-align:left;
		
}
.slick-column-name input {
     padding-left:0px;
     margin-left:-6px;
}
.slick-viewport {
 	background:white;
	border-left-width:1px;
	border-left-color:#a5acb5;
	border-left-style:solid;

	border-right-width:1px;
	border-right-color:#a5acb5;
	border-right-style:solid;
	
	border-bottom-width:1px;
	border-bottom-color:#a5acb5;
	border-bottom-style:solid;


	}


/*scroll bar for safari & chrome*/
/*
::-webkit-scrollbar {
width: 15px;
height: 15px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
height: 15px;
display: block;
background-color: #e9edf1;
border:1px solid #a5acb5;
}


::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
height: 1px;
display: block;
}

::-webkit-scrollbar-track-piece {
background-color: #e3e8ed;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal
{
background-color:  #e9edf1; 
border:1px solid #a5acb5;
}

::-webkit-scrollbar-button:horizontal:decrement {
  background-image: url(images/scroll-left.png);
  background-repeat:no-repeat;
  background-position: 4px 3px; }
 
::-webkit-scrollbar-button:horizontal:increment {
  background-image: url(images/scroll-right.png);
  background-repeat:no-repeat;
  background-position: 5px 3px; }
 
::-webkit-scrollbar-button:vertical:decrement {
   background-image: url(images/scroll-up.png);
   background-repeat:no-repeat;
  background-position: 3px 4px; }
 
::-webkit-scrollbar-button:vertical:increment {
   background-image: url(images/scroll-down.png);
   background-repeat:no-repeat;
  background-position: 3px 4px; }
  */

.loading-indicator {
    display:block;
    background: white;
  
    color: silver;
    z-index: 9999;
}
    
.loading-indicator label {
    padding-top: 32px;
    background-image: url('images/progress.gif');
    background-position:center top;
    background-repeat:no-repeat;
}
/* inline editor styles*/
 .editor-text {
             border: 0px;
        margin-top: 0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top: 3px;
        padding-left: 0px;
        padding-bottom: 1px;
        padding-right: 0px;
        border-bottom: 1px solid #DBDEE1 ;
        }

/* Lookup */
 .sparkle-input-inline:focus
    {
        outline: none;
    }
   .slick-cell.editable {
        padding: 0px;
    border-left-style: none !important;
    border-left-color: inherit !important;
    border-left-width: medium;
    border-right-style: none !important;
    border-right-color: inherit !important;
    border-right-width: medium;
    border-top-style: none !important;
    border-top-color: inherit !important;
    border-top-width: medium;
    border-bottom-style: none !important;
    border-bottom-color: inherit !important;
    border-bottom-width: medium;
}
     

     .sparkle-input-inline
    {
        border: 0px;
        margin-top: 0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;

    }
    .inline-edit-container {
        width:100%;
        border-left: 1px solid silver;
        border-right: 1px solid silver;
        border-bottom: 1px solid silver;
        margin-top: 0px;
        margin-bottom:0px;
        margin-left:0px;
        margin-right:0px;
        padding-top: 0px !important;
        padding-left: 3px !important;
        padding-bottom: 0px !important;
        padding-right: 0px !important;
        background-color:#ffffff;
        height:20px
    }
    
    .inline-edit-container .lookup-button-td {
        width:18px;
        border-left: 1px solid #E2E3EA;
       
    }
    .lookup-button-td input {
             background-color:#FFFFFF;
        }

/* End Slick Grid */

/* START: MSCRM Styles */
html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(246, 248, 250);
}

body, html {
    height: 100%;
}
/* Fonts */
body,
input,
select,
textarea,
table.sparkle-Loading {
    font-family: Segoe\000020UI,Tahoma,Arial;
    font-size: 11px;
}



td {
    font-size: 11px;
}

th {
    font-size: 11px;
    font-weight: normal;
}

a,
a:link img,
a:link,
a:visited img,
a:visited,
a:active img,
a:active,
a:hover img,
a:hover {
    font-weight: normal;
    text-decoration: none;
}

h2 {
    font-size: 16px;
}

button {
    font-size: 11px;
}


.sparkle-Field-Required {
    font-weight: normal;
}

.sparkle-Field-Recommended {
    font-weight: normal;
}


DIV.Notification {
    font-size: 8pt;
}


div.info {
    font-size: 16px;
    font-weight: normal;
}

span.norm {
    font-weight: normal;
    font-size: 11px;
}



A.sparkle-InlineTabHeaderText,
A.sparkle-InlineTabHeaderText:link,
A.sparkle-InlineTabHeaderText:visited,
A.sparkle-InlineTabHeaderText:active,
A.sparkle-InlineTabHeaderText:hover {
    font-size: 14px;
    font-weight: bold;
}

/* End Fonts */


.sparkle-imagestrip-tab_down {
    background: transparent url(images/control_imgs.png) no-repeat scroll -144px -109px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

a,
a:link img,
a:link,
a:visited img,
a:visited,
a:active img,
a:active,
a:hover img,
a:hover a:hover img,
input,
textarea,
select {
    color: #000000;
}

a,
a:link img,
a:visited img,
a:active img,
a:hover img {
    border: none;
}

td.sparkle-InlineTabHeaderText {
    vertical-align: middle;
    width: 100%;
}

h2.sparkle-Form {
    color: #1261E1;
}

h2.sparkle-Form {
    font-size: 14px;
    font-weight: Lighter;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sparkle-InlineTabBody {
    width: 100%;
    table-layout: fixed;
}

TABLE.sparkle-FormSection {
    width: 100%;
}

td.FormSection_CellPadding {
    padding-left: 10px;
}

.sparkle-Field-Required, TD.sparkle-Field-Recommended, DIV.sparkle-Field-Recommended, TD.sparkle-Field-Normal, DIV.sparkle-Field-Normal {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 5px;
}

.sparkle-imagestrip-frm_required {
    background: transparent url(images/control_imgs.png) no-repeat scroll -122px -163px;
    width: 10px;
    height: 11px;
    overflow: hidden;
}

.sparkle-imagestrip-datepicker {
    background: transparent url(images/control_imgs.png) no-repeat scroll -1px -45px;
    width: 10px;
    height: 11px;
    overflow: hidden;
}

.sparkle-input-Container {
    padding: 1px;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
}

.sparkle-input-Container
 {
    border-top-color: #ABADB3;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-color: #E2E3EA;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-left-color: #E2E3EA;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-color: #E2E3EA;
    border-right-width: 1px;
    border-right-style: solid;
}

TEXTAREA.sparkle-ReadOnly,
INPUT[type=text].sparkle-ReadOnly,
.sparkle-Input {
    border: 0px;
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
}

INPUT {
    width: 100%;
}

TD.sparkle-Field-Recommended,
DIV.sparkle-Field-Recommended,
TD.sparkle-Field-Normal,
TD.sparkle-ReadField-Normal,
DIV.sparkle-ReadField-Normal {
    color: #3B3B3B;
}

div.sparkle-InlineTab {
    background-color: #F6F8FA;
}

td.sparkle-InlineTabHeaderExpander {
    vertical-align: middle;
}


/* START: Custom Classes */

/* Date/Time Picker */
.datePicker {
    width: 40%;
}

.timePicker {
    width: 30%;
}


.sparkle-imagestrip-inlineedit_calendar_icon {
    background: transparent url(images/inlineedit_images.png) no-repeat scroll -1px -1px;
    width: 42px;
    height: 17px;
    overflow: hidden;
    border: none;
}

/*Crm Lookup */
.sparkle-lookup-button {
    background: transparent url(images/control_imgs.png) no-repeat scroll -113px -71px;
    /*background-image: url("images/search_normal.gif");*/
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    border: none;
}

.sparkle-lookup-button:hover {
    /*background-image: url("images/search_hover.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -85px -97px;
}


.ui-autocomplete-loading {
    background: white url('images/btn_lookup_resolving.gif') right center no-repeat;
}
/* Auto Complete*/
.autocompleteButton {
    background: transparent url(images/control_imgs.png) no-repeat scroll -178px -24px;
    /*background-image: url("images/SelectOff.gif");*/
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    border: none;
}

.autocompleteButton:hover {
    /*background-image: url("images/SelectOn.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -201px -24px;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
* html .ui-autocomplete {
    height: 100px;
}

/*Date Picker*/
.sparkle-control-layout-table {
    width: 100%;
}

.sparkle-input-datepicker-button input {
    background-repeat: no-repeat;
    width: 36px;
    height: 19px;
    display: inline;
    border: none;
    background: transparent url(images/control_imgs.png) no-repeat scroll -1px -45px;
    overflow: hidden;
}

.sparkle-input-datepicker-button {
    width: 18px;
}

.sparkle-input-datepicker-button input:hover {
    background: transparent url(images/control_imgs.png) no-repeat scroll -178px -1px;
}

.sparkle-input-dropdownbutton input {
    /*background-image: url("images/SelectOff.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -178px -24px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    border: none;
}

.sparkle-input-dropdownbutton input:hover {
    /*background-image: url("images/SelectOn.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -201px -24px;
}

.sparkle-input-dropdownbutton {
    width: 18px;
}

.sparkle-input-lookup {
    width: 19px;
}

.sparkle-input-lookup input {
    /*background-image: url("images/SelectOff.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -24px -92px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: inline;
    border: none;
}

.sparkle-input-lookup input:hover {
    /*background-image: url("images/SelectOn.gif");*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -1px -114px;
}

.sparkle-input-button-margin-after {
    padding-right: 8px;
}

body {
    
	scrollbar-3dlight-color:#A5ACB5;
	scrollbar-arrow-color:#3B3B3B;
	scrollbar-base-color:#E9EDF1;
	scrollbar-darkshadow-color:#A5ACB5;
	scrollbar-face-color:#D7DCE2;
	scrollbar-highlight-color:#E9EDF1;
	scrollbar-shadow-color:#E9EDF1;
	scrollbar-track-color:#E3E8ED;
}

/* Grid Toolbar */
.sparkle-gridtoolbar {
    display: inline-block;
    background-image: url(images/outlook14/GridToolbarBkgd.png);
    background-repeat: repeat-x;
    width: 99.5%;
    height: 24px;
    padding-top: 2px;
    padding-left: 2px;
}

.grid-edit-indicator {
    display: inline-block;
    /*background-image:url(images/edited_16.png);*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -201px -47px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.gridtoolbar-button {
    font-size: 11px;
    height: 20px;
    padding-left: 20px;
    border: 1px solid transparent;
    cursor: pointer;
    background: transparent;
}

.gridtoolbar-button:hover {
border: 1px solid #F1C43F;
background: #FDEEB3;
}

.gridtoolbar-button.save16, .gridtoolbar-button:hover.save16 {
    /*background-image:url(images/save_16.png);*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -202px -69px;
    background-repeat: no-repeat;
}

.gridtoolbar-button.reset16, .gridtoolbar-button:hover.reset16 {
    /*background-image:url(images/reset_16.png);*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -201px -98px;
    background-repeat: no-repeat;
}

.gridtoolbar-button.delete16, .gridtoolbar-button:hover.delete16 {
    /*background-image:url(images/reset_16.png);*/
    background: transparent url(images/control_imgs.png) no-repeat scroll -200px -114px;
    background-repeat: no-repeat;
}




.dialogButton {
    font-size: 11px;
    width: 84px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    cursor: pointer;
    background-repeat: repeat-x;
    border-top-color: #666666;
    border-right-color: #666666;
    border-bottom-color: #666666;
    border-left-color: #666666;
    background-image: url(images/outlook14/ButtonNormalGradient.png);
    overflow: visible;
}

.dialogButton:hover {
    background-image: url(images/outlook14/ButtonSelectedGradient.png);
}


.form-field-container {
}

.form-field-container label {
    width: 100%;
}

.form-field-container input {
    width: 100%;
}



INPUT.sparkle-control-checkbox {
    margin-top: 1px;
    width: 16px;
    height: 19px;
}

TEXTAREA.sparkle-Input {
    width: 100%;
    height: 100%;
}

.sparkle-menu-item {
    overflow: hidden;
    white-space: nowrap;
}

.sparkle-menu-item-img {
    padding-right: 3px;
}

.sparkle-menu-item-label {
}

.sparkle-lookup-link {
    text-decoration: underline !important;
}

.sparkle-grid-row-img {
}

.sparkle-imagestrip-inlineedit_warning {
    background: transparent url(images/inlineedit_images.png) no-repeat scroll -37px -59px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}

/* Wait Spinner */
.sparkle-wait-blockout {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    -moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity = 90);
    -moz-box-shadow: 0px 0px 30px #000000;
    -webkit-box-shadow: 0px 0px 30px #000000;
    box-shadow: 0px 0px 30px #000000;
}

.sparkle-wait-blockout img {
    background: transparent url(images/progress.gif) no-repeat;
    width: 36px;
    height: 36px;
}

/* Grid */
.sparkle-grid {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;
    padding-bottom: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Grid Pager */

.sparkle-grid-status {
    height: 22px;
    width: 100%;
    table-layout: fixed;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #a5acb5;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #a5acb5;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #a5acb5;
    background-color: rgb(241, 243, 245);
}

.sparkle-grid-status-label {
    padding-left: 10px;
}

.sparkle-grid-status-paging {
    text-align: right;
    color: #666666;
}

.sparkle-grid-paging-first.disabled {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -91px -23px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-right: 6px;
}


.sparkle-grid-paging-next.disabled {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -96px -1px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-left: 6px;
    margin-right: 6px;
}

.sparkle-grid-paging-back.disabled {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -96px -12px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-right: 6px;
}

.sparkle-grid-paging-first {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -84px -35px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-right: 6px;
}

.sparkle-grid-paging-next {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -84px -46px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-left: 6px;
    margin-right: 6px;
}

.sparkle-grid-paging-back {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -80px -82px;
    width: 8px;
    height: 9px;
    overflow: hidden;
    margin-right: 6px;
}

.sparkle-grid-refresh-button {
    table-layout: fixed;
    height: 18px;
    width: 16px;
    top: 4px;
    padding-right: 1px;
    position: absolute;
    z-index: 1;
}

.sparkle-grid-refresh-button-img {
    background: transparent url(images/grid_ctrl_imgs.png) no-repeat scroll -76px -57px;
    width: 16px;
    height: 16px;
    overflow: hidden;
}



.sparkle-control-error-element {
    display: block !important;
}

.sparkle-control-validation-text {
    position: relative;
    top: -3px;
}


div.ui-datepicker, .ui-datepicker td {
    font-size: 10px !important;
}



/* show currently selected day/act*/
.slick-cell.active {
    border: none !important; 
    border-bottom: 1px solid #DBDEE1 !important;
}





.popup-box-container {
    margin-bottom: 18px;
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
}


.popup-box-icon {
    position: relative;
    top: 24px;
    z-index: 999;
    left: 7px;
    display: block;
}

.popup-box {
    position: relative;
    padding-left: 27px;
    padding-top: 8px;
    padding-bottom: 15px;
    padding-right: 15px;
    border: 1px solid #333;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa;
}

.popup-box:before {
    content: "";
    position: absolute;
    bottom: -15px; /* value = - border-top-width - border-bottom-width */
    left: 45px; /* controls horizontal position */
    border-width: 15px 15px 0;
    border-style: solid;
    border-color: #333 transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}

/* creates the smaller  triangle */
.popup-box:after {
    content: "";
    position: absolute;
    bottom: -13px; /* value = - border-top-width - border-bottom-width */
    left: 47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
    border-width: 13px 13px 0;
    border-style: solid;
    border-color: #fff transparent;
    /* reduce the damage in FF3.0 */
    display: block;
    width: 0;
}



